.image 
        {
           background-color: aqua;
           height: 600px;
           display: flex;
           justify-content: center;

        }
        .main
        {
            background-color: blue;
            width: 500px;
          height: 200px;
            text-align: center;
        }
        button
        {
            margin: 20px;
          
        }